	<div class="bottom-bar">
        <footer class="site-footer container">
            <div class="footer">
                <nav class="footer-links">
                    <ul>
                        <li><a href="http://dineyo.com" target="blank">Dineyo</a></li>
                        <li><a href="http://dineyo.com/about" target="blank">Acerca de Dineyo</a></li>
                        <li><a href="http://dineyo.com/terminos-y-condiciones" target="blank">Términos y Condiciones</a></li>
                        <li><a href="http://dineyo.com/politica-de-privacidad" target="blank">Política de Privacidad</a></li>
                        <li><a href="http://dineyo.com/contact_forms/new" target="blank">Contacto</a></li>
                        <li><a href="http://dineyo.com/preguntas-frecuentes" target="blank">Preguntas Frecuentes</a></li>
                    </ul>
                    <div class="footer-copyright">© Dineyo 2014</div>
                </nav>
            </div>
        </footer>
    </div>