	<div class="top-bar">
		<header class="site-header container animated fadeInDown">
				
			<h2 class="site-description">{{@blog.description}}</h2>
								
			<div class="social-links">
				<a href="http://twitter.com/dineyoapp" target="blank"><i class="fa fa-twitter-square"></i></a>
				<a href="http://www.facebook.com/pages/Dineyocom/518068231580323" target="blank"><i class="fa fa-facebook-square"></i></a>
				<a href="https://plus.google.com/u/1/116518982690332976448" target="blank"><i class="fa fa-google-plus-square"></i></a>
				<a href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i></a>
			</div>
			
		</header>
	</div><!-- .top-bar -->